name: Build and Release

on: push

jobs:
  build:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        os: 
          - ubuntu-latest 
          - macos-latest 
          # - windows-latest
        include:
          - os: ubuntu-latest
            image: ubuntu:latest
          - os: macos-latest
            image: macos-latest
            #- os: windows-latest
            #image: windows-latest

    steps:
    - name: Set dummy ACTIONS_RUNTIME_TOKEN and ACTIONS_RUNTIME_URL for act
      if: ${{ env.ACT }}
      run: |
        echo "ACTIONS_RUNTIME_TOKEN=dummy_token" >> $GITHUB_ENV
        echo "ACTIONS_RUNTIME_URL=https://dummy_url" >> $GITHUB_ENV

    # - name: Install GCC on Ubuntu
    #   if: matrix.os == 'ubuntu-latest' && ${{env.ACT}} 
    #   run: |
    #     apt-get update
    #     apt-get install -y gcc

    # - name: Install GCC on macOS
    #   if: matrix.os == 'macos-latest' && ${{ env.ACT }} 
    #   run: |
    #     brew install gcc

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Build on Linux and macOS
      run: |
        cmake -B build/
        cmake --build build/
        mkdir -p ${{ matrix.os }}
        cp build/await ${{ matrix.os }}/
        cp build/await.fish ${{ matrix.os }}/
        cp build/await.bash ${{ matrix.os }}/
        cp build/await.zsh ${{ matrix.os }}/

    - name: Tree
      if: matrix.os == 'ubuntu-latest'
      run: tree

    - uses: actions/upload-artifact@v4
      with:
        name: await-${{ matrix.os }}
        path: ${{ matrix.os }}

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Build await to get version
      run: |
        cmake -B build/
        cmake --build build/

    - name: Get version from await CLI
      id: get_version
      run: |
        VERSION=$(./build/await --version)
        echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
        echo "Version: $VERSION"

    - name: Check if Release Exists
      id: check_release
      run: |
        gh release view ${{ steps.get_version.outputs.VERSION }} || echo "Release does not exist"

    - name: Create or Update Release
      id: create_update_release
      if: steps.check_release.outputs.exists == 'false'
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.get_version.outputs.VERSION }}
        release_name: ${{ steps.get_version.outputs.VERSION }}
        body: Release version ${{ steps.get_version.outputs.VERSION }}
        draft: false
        prerelease: false

    - name: Update Release Archives
      if: steps.check_release.outputs.exists == 'true'
      run: |
        gh release upload ${{ steps.get_version.outputs.VERSION }} archives/* --clobber

    - name: Download Artifact
      uses: actions/download-artifact@v4
    
    - name: Create Archives
      run: |
        mkdir -p archives
        tree
        cd await-macos-latest && tar -czvf ../archives/await-${{ steps.get_version.outputs.VERSION }}-aarch64-x86_64-apple-darwin.tar.gz * && cd ..
        cd await-ubuntu-latest && tar -czvf ../archives/await-${{ steps.get_version.outputs.VERSION }}-x86_64-unknown-linux-gnu.tar.gz * && cd ..
        tree

    - name: Upload Release Artifacts
      uses: softprops/action-gh-release@v1
      with:
        files: archives/*
        tag_name: ${{ steps.get_version.outputs.VERSION }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
